@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>簡易客戶資料維護</h1>
    <p class="lead">你可以在此維護客戶相關的資料，包含基本資料、聯絡人，及銀行帳戶等</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>客戶資料</h2>
        <p>
            提供客戶的名稱、聯絡電話、聯絡地址、信箱等資料，讓您可以輕鬆修改、建立，甚至刪除。
        </p>
        <p><a class="btn btn-default" href="@Url.Content("~/客戶資料")">從此前往 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>客戶聯絡人</h2>
        <p>提供聯絡人的職稱、姓名、Email、手機、電話等資料，完整留下可以聯繫的資料。</p>
        <p><a class="btn btn-default" href="@Url.Content("~/客戶聯絡人")">從此前往 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>